Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Gist
 @Mersaul4
 Sign out
 Watch 33
  Star 269
  Fork 98 realpython/flask-by-example
 Code  Issues 1  Pull requests 2  Projects 0  Wiki Insights 
Branch: master Find file Copy pathflask-by-example/.gitignore
b197209  on Mar 14 2016
@mjhea0 mjhea0 init
1 contributor
RawBlameHistory     
55 lines (45 sloc)  554 Bytes
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

*.DS_Store
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help
